<div class="backgroundPage backgroundComponent">     
    <div [class]="(mobileMenu ? 'mobile-' : '') + 'languageClass'">
        <p (click)="changeLanguage()">{{ 'LANGUAGE' | translate:'home' }}</p>
    </div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'containerLogo fadeIn'">
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'divLogo'">
            <img src="images/logo2.png">
        </div>
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'textProject gesture__indicator'">
            <p>Project Green Goblin</p>
        </div>
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'textProjectDevLog gesture__indicator'">
            <p>DevLog</p>
        </div>
    </div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'content'">
        <p [innerHTML]="'P1' | translate:'contact'"></p>
    </div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'backClass-infos'">
        <p (click)="back()">{{ 'BACK' | translate:'home' }}</p>
    </div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'menusFooterClass'">
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'menuFooterItem'">
            <p (click)="toContact()">{{ 'CONTACT' | translate:'home' }}</p>
        </div>
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'menuFooterItem'">
            <p (click)="toAbout()">{{ 'ABOUT' | translate:'home' }}</p>
        </div>
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'menuFooterItem'">
            <p (click)="toHelp()">{{ 'HELPUS' | translate:'home' }}</p>
        </div>
    </div>
</div>