
<div [class]="(mobileMenu ? 'mobile-' : '') + 'header fadeInContent'"></div>
<div class="backgroundPage">     
    <div [class]="(mobileMenu ? 'mobile-' : '') + 'languageClass'">
        <p (click)="changeLanguage()">{{ 'LANGUAGE' | translate:'home' }}</p>
    </div>
    

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'shareClass'">
        <p (click)="sharePost()">{{ 'SHARE' | translate:'home' }}</p>
    </div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'backClass'">
        <p (click)="back()">{{ 'BACK' | translate:'home' }}</p>
    </div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'logo-container'">
        <div [class]="(mobileMenu ? 'mobile-' : '') + 'divLogo'" style="margin: auto;">
            <img (click)="back()" src="images/logo2.png">
        </div>
        <div (click)="back()" id="" [class]="(mobileMenu ? 'mobile-' : '') + 'logo-title gesture__indicator'">
            <p>Project Green Goblin</p>
        </div>
        <div (click)="back()" [class]="(mobileMenu ? 'mobile-' : '') + 'logo-devlog-title gesture__indicator'">
            <p>DevLog</p>
        </div>
    </div>

    <div [innerHTML]="postHtml" class="fadeInContent"></div>

    <div [class]="(mobileMenu ? 'mobile-' : '') + 'modalShare'" id="modalShare">
        <share-buttons [theme]="'circles-dark'"
            [include]="['whatsapp', 'x', 'facebook', 'reddit', 'linkedin', 'telegram', 'messenger','copy']"
            [show]="8" [url]="'https://projectgreengoblin.com/' + postName">
        </share-buttons>
        <p (click)="closeModal()">{{ 'CANCEL' | translate:'home' }}</p>
    </div>
</div>