
.containerLogo {
    width: 100vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    margin-top: -9.1vw;
}

.divLogo {
    margin: auto;
    margin-bottom: -1vw;
    margin-top: 10%;

    img {
        width: 15vw;
        height: auto;
    }
}

.textProject {
    position: relative;

    margin: auto;
    width: 25vw;
    text-align: right;

    p {
        color: white;
        font-size: 2vw;
        font-family: Cinzel Decorative;
    }
}

.textProjectDevLog {
    position: relative;

    margin: auto;
    margin-top: -0.5vw;
    text-align: right;
    width: 25vw;

    p {
        color: white;
        font-size: 0.8vw;
    }
}

.menusFooterClass {
    position: absolute;
    left: 2vw;
    bottom: 1vw;
    z-index: 99;
    margin: auto;
    display: flex;
}

.menuFooterItem {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  margin: 1vw;

  p {
    cursor: pointer;
    color: white;
    font-size: 1vw;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  appearance: none;
  border-style: none;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backgroundComponent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.content p {
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 5vw;
}

.modalShare {
    animation: fadeIn 1s forwards;
    display: flex; /* Inicialmente escondida */
    position: fixed;
    margin-top: 35vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background: white;
    padding: 1vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    background: rgba(150, 255, 0, 0.1);
    box-shadow: 0 15px 35px rgba(0,0,0,.2);
    border-radius: 15px;
    backdrop-filter: blur(40px);
    
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);

    p {
        cursor: pointer;
        color: white;
        font-size: 0.8vw;
        margin: auto;
        margin-left: 0.5vw;
    }
}